.vs/Case2/v16/.suo
bin/Debug/netcoreapp3.1/Case2.dll
bin/Debug/netcoreapp3.1/Case2.pdb
obj/Debug/netcoreapp3.1/Case2.pdb
obj/Debug/netcoreapp3.1/Case2.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Case2.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Case2.dll
obj/Debug/netcoreapp3.1/Case2.genruntimeconfig.cache
